<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes</title>

    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: whitesmoke;
        }

        h1 {
            text-align: center;
        }

        li {
            list-style-type: disc;
            margin-left: 20px;
        }

    </style>

</head>
<body>

    <h1>Notes</h1>

    {% block body %}
    {% endblock %}
    
</body>
</html>